@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0E0E0E;
  color: #fff;
  font-family: var(--font-plus-jakarta-sans);
  position: relative;
}

/* for the custome scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #965CCD;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #432e57;
}

:root {
  /* fonts */
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-montserrat: Montserrat;
  --font-poppins: Poppins;
}

